# SQL Exercise

<a href="https://colab.research.google.com/github/coding-dojo-data-science/week-12-lecture-1-SQL/blob/main/SOLUTIONS%20SQL_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



[SQLAlchemy](https://www.sqlalchemy.org/) is a wrapper for Python that allows us to write SQL queries in Python. We will use this to practice our SQL basics in Python.

First, we need to connect to a database. We will just read a table into SQL for this step. We will be creating a [SQLite](https://sqlite.org/index.html) database and loading our [data](https://drive.google.com/file/d/18MgOmIHHafoubgp2d_7GM6GWroxb0vPe/view?usp=sharing) into that database.

In [1]:
# imports
import pandas as pd
from sqlalchemy import create_engine

# adding this to show us all the result without hiding columns 
# pd.set_option('display.max_columns', None)

In [2]:
# Read the data in as a Pandas Dataframe
school = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRtLDEwVA8XXd7-XHjvaU7zkMhlRlFjXExCXJZKdUpa6xrYpyaxUifltjgaN5wTFRA_bg_UXyFOB1p7/pub?gid=1976095986&single=true&output=csv')
# load table 2'
facility = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR5UNxWcE8ctwA8OFn2v0RmWfoIEUK_9dUqmXQCV3lbJwZ7JLjdDz6P3YbcFbCMHUxswF07RawZzX0V/pub?gid=601105917&single=true&output=csv')

In [3]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DistrictName                1249 non-null   object
 1   EstablishmentCode           1249 non-null   object
 2   EstablishmentName           1249 non-null   object
 3   BRCName                     1249 non-null   object
 4   CRCName                     1249 non-null   object
 5   SchoolLevel                 1246 non-null   object
 6   ManagementName              1246 non-null   object
 7   LocalityHabitation          1221 non-null   object
 8   SubdivisionName             1241 non-null   object
 9   ConstituencyName            1249 non-null   object
 10  RevenueBlockName            1249 non-null   object
 11  CivicBodyName               1249 non-null   object
 12  WardName                    1249 non-null   object
 13  PostOfficeName              1249 non-null   object
 14  PhoneNo                     794 non-null    object
 15  FaxNo                       20 non-null     object
 16  EmailID                     182 non-null    object
 17  Website                     24 non-null     object
 18  LocatedInRuralOrUrban       1249 non-null   object
 19  DiseCode                    439 non-null    object
 20  EstablishedDate             1230 non-null   object
 21  DistrictHQDistance (in Km)  1246 non-null   float64
 22  CRCDistance (in Km)         1246 non-null   float64
 23  BACDistance (in Km)         1246 non-null   float64
 24  IsRecognized                1246 non-null   object
 25  RecognizedBy                1004 non-null   object
 26  ContactPersonName           0 non-null      float64
 27  LowestClass                 1246 non-null   object
 28  HighestClass                1246 non-null   object
 29  BoardName                   784 non-null    object
dtypes: float64(4), object(26)
memory usage: 292.9+ KB

In [4]:
facility.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   EstablishmentCode           1256 non-null   object
 1   EstablishmentName           1256 non-null   object
 2   IsLibraryAvailable          1256 non-null   object
 3   AvailableBooksCount         1256 non-null   int64
 4   IsFireExtgAvailable         1256 non-null   object
 5   ExtinguisherCount           1256 non-null   int64
 6   HOIRoomAvailable            1256 non-null   object
 7   IsStaffRoomAvailable        1256 non-null   object
 8   NoofStaffRoom               1256 non-null   int64
 9   IsLockerForStaffAvailable   1256 non-null   object
 10  IsSportsStoreRoomAvailable  1256 non-null   object
dtypes: int64(3), object(8)
memory usage: 108.1+ KB

### Create a SQLite Database

In [5]:
# create sqlite engine and create empty database name school

engine = create_engine('sqlite:///school.db', echo=True)

# create connection to engine
conn = engine.connect()

In [6]:
# add the school dataframe as a table in sqlite
sqlite_table1 = 'schools'
try:
  school.to_sql('schools', conn, if_exists='fail')
except:
  pass

# add the facility dataframe as a table in sqlite

sqlite_table2 = 'facilities'
try:
  facility.to_sql(sqlite_table2, conn, if_exists='fail')
except:
  pass

2023-04-18 22:16:14,667 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("schools")
2023-04-18 22:16:14,668 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 22:16:14,669 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("schools")
2023-04-18 22:16:14,669 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 22:16:14,672 INFO sqlalchemy.engine.Engine
CREATE TABLE schools (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2023-04-18 22:16:14,673 INFO sqlalchemy.engine.Engine [no key 0.00052s] ()
2023-04-18 22:16:14,683 INFO sqlalchemy.engine.Engine COMMIT
2023-04-18 22:16:14,684 INFO sqlalchemy.engine.Engine CREATE INDEX ix_schools_index ON schools ("index")
2023-04-18 22:16:14,685 INFO sqlalchemy.engine.Engine [no key 0.00050s] ()
2023-04-18 22:16:14,691 INFO sqlalchemy.engine.Engine COMMIT
2023-04-18 22:16:14,708 INFO sqlalchemy.engine.Engine INSERT INTO schools ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-04-18 22:16:14,709 INFO sqlalchemy.engine.Engine [generated in 0.00922s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38681', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66806', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66806', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2023-04-18 22:16:14,715 INFO sqlalchemy.engine.Engine COMMIT
2023-04-18 22:16:14,724 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("facilities")
2023-04-18 22:16:14,724 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 22:16:14,725 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("facilities")
2023-04-18 22:16:14,725 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-18 22:16:14,726 INFO sqlalchemy.engine.Engine
CREATE TABLE facilities (
	"index" BIGINT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"IsLibraryAvailable" TEXT,
	"AvailableBooksCount" BIGINT,
	"IsFireExtgAvailable" TEXT,
	"ExtinguisherCount" BIGINT,
	"HOIRoomAvailable" TEXT,
	"IsStaffRoomAvailable" TEXT,
	"NoofStaffRoom" BIGINT,
	"IsLockerForStaffAvailable" TEXT,
	"IsSportsStoreRoomAvailable" TEXT
)


2023-04-18 22:16:14,726 INFO sqlalchemy.engine.Engine [no key 0.00027s] ()
2023-04-18 22:16:14,732 INFO sqlalchemy.engine.Engine COMMIT
2023-04-18 22:16:14,732 INFO sqlalchemy.engine.Engine CREATE INDEX ix_facilities_index ON facilities ("index")
2023-04-18 22:16:14,733 INFO sqlalchemy.engine.Engine [no key 0.00025s] ()
2023-04-18 22:16:14,738 INFO sqlalchemy.engine.Engine COMMIT
2023-04-18 22:16:14,745 INFO sqlalchemy.engine.Engine INSERT INTO facilities ("index", "EstablishmentCode", "EstablishmentName", "IsLibraryAvailable", "AvailableBooksCount", "IsFireExtgAvailable", "ExtinguisherCount", "HOIRoomAvailable", "IsStaffRoomAvailable", "NoofStaffRoom", "IsLockerForStaffAvailable", "IsSportsStoreRoomAvailable") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-04-18 22:16:14,746 INFO sqlalchemy.engine.Engine [generated in 0.00389s] ((0, 'S1034', '(I.E.C) INDIAN EVANGALISTIC CRUSADE MISSION PRIMARY SCHOOL, RIMBI', 'Not Available', 0, 'Available', 1, 'Available', 'Not Available', 0, 'Not Available', 'Not Available'), (1, 'S0516', '10TH MILE GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Available', 'Available', 1, 'Not Available', 'Not Available'), (2, 'S0237', '4TH MILE GOVERNMENT JUNIOR HIGH SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (3, 'S0692', 'AAPGAZI GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Not Available', 0, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (4, 'S0374', 'AARUBOTEY GOVERNMENT PRIMARY SCHOOL', 'Not Available', 0, 'Available', 2, 'Not Available', 'Not Available', 0, 'Not Available', 'Not Available'), (5, 'S0218', 'ADAMPOOL GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 217, 'Available', 5, 'Available', 'Available', 1, 'Available', 'Not Available'), (6, 'S1064', 'ADONAI HOMES , NAYA BAZAR', 'Available', 0, 'Available', 0, 'Not Available', 'Available', 2, 'Not Available', 'Available'), (7, 'C1348', 'ADVANCED TECHNICAL TRAINING CENTRE', 'Available', 0, 'Available', 0, 'Available', 'Available', 0, 'Available', 'Available')  ... displaying 10 of 1256 total bound parameter sets ...  (1254, 'S0185', 'ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL', 'Available', 0, 'Available', 5, 'Not Available', 'Available', 1, 'Not Available', 'Not Available'), (1255, 'S0267', 'ZOOM GOVERNMENT SECONDARY SCHOOL', 'Not Available', 0, 'Available', 6, 'Available', 'Available', 1, 'Available', 'Not Available'))

2023-04-18 22:16:14,749 INFO sqlalchemy.engine.Engine COMMIT

- Let's examine the first 5 rows of the schools table

In [7]:
# Using SELECT view schools data

query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

2023-04-18 22:16:14,769 INFO sqlalchemy.engine.Engine


2023-04-18 22:16:14,770 INFO sqlalchemy.engine.Engine [raw sql] ()

ResourceClosedError: This result object does not return rows. It has been closed automatically.

Select only the DistrictName and PhoneNo from the schools table

In [ ]:
# Using SELECT view DistrictName and PhoneNo from school
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."

In [ ]:
# What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."
query = """

"""

# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [ ]:
school.head()

In [ ]:
school['SchoolLevel'].value_counts()

In [ ]:
# What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

Repeat the previous query, but only display results where the average distance is at least 10 km.

In [ ]:
# Repeat the previous query, but only display results where the average distance is at least 10 km.
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [ ]:
# Join the two tables together (school_details and school_facility_details). 
# Start by displaying all of the columns, but limit the resulting rows to just 2.
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df

# **Your Turn**

Build off the previous query, but order the results alphabetically by name.

## 1. Get the EstablishmentName, SchoolLevel, and Website columns from the school

In [ ]:
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

## 2. Display the EstablishmentName and DistrictHQDistance (in Km) for schools where the DistrictHQDistance (in Km) is more than 100 Km. Don't forget to use backticks! (`)

In [ ]:
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

In [ ]:
query = """
SELECT EstablishmentName, `DistrictHQDistance (in Km)` as hq_dist
from schools as s 
where hq_dist > 100
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()

## 3. (**CHALLENGE!**) Display the number of recognized and not recognized schools in the DB

### **Note** You will need to join the tables to complete this!

In [ ]:
# What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.
query = """

"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(query, conn)
df.head()